.card-wrapper{
  padding-top: 50px;
  h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 35px;
    color: #14333D;
  }
  .cards{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}
.card-body{
  width: 28%;
  border-radius: 20px;
  padding: 20px;
  background-color: #F1F1F1;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.1);
  margin-bottom: 20px;
  .img-wrapper{
    margin-bottom: 15px;
    img{
      border-radius: 10px;
      object-fit: cover;
      width: 100%;
    }
  }
  h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 27.6px;
    margin-bottom: 20px;
  }
  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
    color: #14333D;
  }
}

@media (screen and max-width: 1024px){
  .card-wrapper{
    h1{
      font-size: 24px;
      line-height: 27.6px;
      margin-bottom: 20px;
    }
  }
  .card-body{
    width: 100%;
    h3{
      font-size: 16px;
      line-height: 18.4px;
      margin-bottom: 10px;
    }
    p{
      font-size: 14px;
      line-height: 18.2px;
    }
  }
}