.footer{
  width: 100%;
  background-color: #14333d;
  height: 70vh;
  background-image: url("../../img/footerImg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.footer-body{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .footer-info{
    padding: 0 70px 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .footer-links{
      display: flex;
      a{
        padding: 5px;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        background-color: #FB5259;
        margin-right: 15px;
        transition: all .5s ease 0s;
        &:hover{
          background-color: #fb767e;
        }
        img{
          width: 30px;
        }
      }
    }
    p{
      font-weight: 400;
      font-size: 16px;
      line-height: 22.4px;
      color: #fff;
    }
  }
}

@media (screen and max-width: 767px){
  .footer{
    background-image: url("../../img/footerMobileImg.svg");
  }
  .footer-body{
    .footer-info{
      padding: 0 20px 20px;
      flex-direction: column-reverse;
      align-items: flex-start;
      .footer-links{
        a {
          margin-right: 10px;
          width: 30px;
          height: 30px;
          padding: 2px;
          img{
            width: 20px;
          }
        }
      }
      p{
        font-size: 12px;
        line-height: 16.8px;
        margin-top: 10px;
      }
    }
  }
}